@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body { 
   font-family: "Inter", sans-serif;
}
#container {
   width: 100%;
   max-width: 80%;
   margin: 0px auto;
}
header {
   background-color: #FFFFFF;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
#navbar img {
  max-width: 139px;
}
.nav-menu {
   display: flex;
   align-items: center;
   gap: 30px;
   list-style: none;
}
.nav-menu a {
   text-decoration: none;
   color: #000000;
   font-weight: 500;
   font-size: 16px;
}
.btn {
   font-weight: 500;
   font-size: 16px;
   color: #FFFFFF;
   background-color: #469165;
   padding: 13px 16px;
   border: none;
   border-radius: 5px;
}

/* hero section */
#bennar-section {
   background-image: url(/assets/hero-bg.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 80vh;
}

.bennar  {
   padding-top: 100px;
   text-align: center;
}

.acces-btn {
   font-weight: 500;
   font-size: 16px;
   color: #469165;
   background-color: #FFFFFF;
   padding: 10px 25px;
   border: none;
   border-radius: 30px;
   
}
.acces-btn img {
   vertical-align: middle;
   margin-right: 5px;
}

.bennar h1 {
   font-size: 72px;
   font-weight: 700;
   line-height: 84px;
   color: #FFFFFF;
   margin-top: 10px;
}
.bennar h1 span{
   color: #469165;
}
.bennar p {
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;
   color: #FFFFFF;
   margin: 15px 0px;
}
.bennar .btn-1 {
   font-weight: 500;
   font-size: 16px;
   color: #FFFFFF;
   background-color: #469165;
   padding: 13px 16px;
   border: none;
   border-radius: 5px;
}

.bennar .btn-2 {
   font-weight: 500;
   font-size: 16px;
   padding: 12px 16px;
   border: none;
   background: transparent;
   border: 1px solid #FFFFFF;
   margin-left: 20px;
   color: #FFFFFF;
   border-radius: 5px;
}
