@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body { 
   font-family: "Inter", sans-serif;
}
#container {
   width: 100%;
   max-width: 80%;
   margin: 0px auto;
}
header {
   background-color: #FFFFFF;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
#navbar img {
  max-width: 139px;
}
.nav-menu {
   display: flex;
   align-items: center;
   gap: 30px;
   list-style: none;
}
.nav-menu a {
   text-decoration: none;
   color: #000000;
   font-weight: 500;
   font-size: 16px;
}
.btn {
   font-weight: 500;
   font-size: 16px;
   color: #FFFFFF;
   background-color: #469165;
   padding: 13px 16px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.5s;
}

.btn:hover {
    background-color:#0b5229 ;
}
/* hero section */
#bennar-section {
   background-image:linear-gradient(rgba(31, 17, 17, 0.479), rgba(34, 15, 15, 0.39)), url('/assets/hero-bg.png') ;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   padding-bottom: 100px;
}

.bennar  {
   padding-top: 100px;
   text-align: center;
}

.acces-btn {
   font-weight: 500;
   font-size: 16px;
   color: #469165;
   background-color: #FFFFFF;
   padding: 10px 25px;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   
}
.acces-btn img {
   vertical-align: middle;
   margin-right: 5px;
}

.bennar h1 {
   font-size: 72px;
   font-weight: 700;
   line-height: 84px;
   color: #FFFFFF;
   margin-top: 10px;
}
.bennar h1 span{
   color: #469165;
}
.bennar p {
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;
   color: #FFFFFF;
   margin: 20px 0px;
}
.bennar .btn-1 {
   font-weight: 500;
   font-size: 16px;
   color: #FFFFFF;
   background-color: #469165;
   padding: 13px 16px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.5s;
}
.bennar .btn-1:hover {
    background-color: #156b39;
}
.bennar .btn-2 {
   font-weight: 500;
   font-size: 16px;
   padding: 12px 16px;
   border: none;
   background: transparent;
   border: 1px solid #FFFFFF;
   margin-left: 20px;
   color: #FFFFFF;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.5s;
}
.bennar .btn-2:hover {
    background-color: #469165;
}

/* Note section */
#note-section { 
   background-color:#fbfbfb;
}
.note-content {
    margin-top: 60px;
}
.note-content h2 {
   font-weight: 700;
   font-size: 48px;
   text-align: center;
}
.note-content P {
   font-weight: 400;
   font-size: 16px;
   text-align: center;
   color: #627382;
   line-height: 30px;
   margin-top: 10px;
}
.notes-card-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top:40px;  
}
.single-note {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 20px 10px;
    box-shadow: 0px 0px 5px #c4b8b8;
    border-radius: 8px;
    max-width: 322px;
    height: 250px;
    /* z-index: 10; */
}
.single-note h3 {
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0px;
    text-align: center;
}
.single-note P{
   text-align: center;
   color:#627382;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
}
.single-note img {
    background-color: rgba(255, 0, 0, 0.76);
    border-radius: 50%;
    padding: 10px;
}
/* .single-note i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.76);
    padding: 5px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* knowledge section */
#knowledge-section {
    background-color:#fbfbfb;
    padding: 50px 0px ;
}
.knowledge-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.knowledge-container img {
    max-width: 600px;
    border-radius: 20px;
}
.knowledge-container h6 {
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}
.knowledge-container h2 {
    font-size: 42px;
    font-weight: 800;
    margin: 30px 0px ;
}
.knowledge-container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
.knowledge-container ul {
    list-style: none;
    margin-top: 20px;
}
.knowledge-container ul {
    display: flex; 
    flex-direction: column;
    gap: 15px;
}
.knowledge-container ul li {
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.knowledge-container ul li {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;

}
.knowledge-container ul li i {
   background-color: #469165;
   color: #FFFFFF;
   border-radius: 50%;
   height: 20px;
   width: 20px;
   margin-right:10px ;
}
/* think-more section */
#challenge-section {
   padding: 50px 0px;
}
.think-more {
    background-color: #F7F6F2;
    padding: 80px 30px ;
    border-radius: 20px;
}
.think-more h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0px ;
}
.think-more p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0px ;
    color: #627382;
}
.center-btn {
    display: flex;
    justify-content: center
}
/* footer */
footer {
    background-color: #001931;
}
.footer-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 120px 0px;
}
.footer-container h5 {
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.footer-container i {
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
}
footer p {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #FAFAFA;
    padding-bottom: 10px;
}